{% extends 'base.html' %}
{% block content %}
<!-- Navigation Bar -->
{% include 'navbar.html' %}
<!-- 사용자 정보 변경 화면 -->
<div class="container">
    <div class="py-3 border-bottom">
        <h3>사용자 정보 변경</h3>
    </div>
    <!-- User Info change Form -->
    <!-- 앞에서부터 이름, 정보 입력창, 정보 변경, 나가기버튼 -->
    <form method="post">
        {{ form.csrf_token }}
        {% include "error.html" %}
        <div class="my-3 py-3">
            <label for="name">사용자 이름</label>
            <input type="text" class="form-control" name="name" id="name"
                   value="{{ form.name.data or '' }}">
        </div>
        <div class="my-3">
            <label for="info">사용자 정보</label>
            <textarea class="form-control" name="info" id="info" rows="10">
                {{ form.info.data or '' }}
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary">정보 변경</button>
        <a class="btn btn-secondary m-4" href="{{ url_for('main.mypage') }}">나가기</a>
    </form>
</div>
{% endblock %}